<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="sonosip.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="SonoSip Perspective"
            class="sonosip.Perspective"
            id="SonoSip.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="SonoSip.application"
            name="SonoSip">
         <property
               name="appName"
               value="SonoSip">
         </property>
         <property
               name="windowImages"
               value="icons/speaker-volume.png,icons/Speaker_32.png,icons/Speaker_48.png,icons/Speaker_64.png,icons/Speaker_128.png">
         </property>
         <property
               name="startupProgressRect"
               value="0,235,400,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="sonosip.views.PlayerView"
            icon="icons/disc.png"
            id="sonosip.views.PlayerView"
            name="Cantiques"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="sonosip.views.RecordView"
            icon="icons/microphone.png"
            id="sonosip.views.RecordView"
            name="Enregistrement"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="sonosip.views.RandomPlayerView"
            icon="icons/speaker-volume.png"
            id="sonosip.views.RandomPlayerView"
            name="Fond musical"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="sonosip.views.SoftphoneView"
            icon="icons/user-business.png"
            id="sonosip.views.SoftphoneView"
            name="Participants"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="sonosip.views.EventView"
            icon="icons/report-paper.png"
            id="sonosip.views.EventView"
            name="Événements"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            class="sonosip.views.SoftphoneServerView"
            icon="icons/mobile-phone-off.png"
            id="sonosip.views.SoftphoneServerView"
            name="Téléphonie"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.status?after=END_GROUP">
         <toolbar
               id="sonosip.statusLineToolbar">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/equalizer.png"
                  label="Administration"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="sonosip.preferences.PlayerPreferencePage"
            id="sonosip.preferences.PlayerPreferencePage"
            name="Cantiques">
      </page>
   </extension>

</plugin>
